    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">MyBlog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/about">Hakkimizda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/articles">Makaleler</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto mb-2 mb-md-0">

                    {% if session['loggedIn'] == True %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/dashboard">Kontrol Paneli</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/logout">Cikis Yap</a>
                        </li>             
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/login">Giris</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/register">Kayit Olun</a>
                        </li>
                    {% endif %}
                    
                </ul>
            </div>
        </div>
    </nav>